// _variables.scss

// Цвета
$primary-color: #000;
$secondary-color: #fff;
$background-light: #f0f0f0;
$background-dark: #1a1a1a;
$text-color-light: #333;
$text-color-dark: #e0e0e0;
$hover-color: #333;

// Отступы и тени
$border-width: 2px;
$box-shadow-size: 3px;
$box-shadow-large-size: 5px;

// Шрифты
$font-family-main: 'Courier New', Courier, monospace;
$font-size-large: 3rem;
$font-size-medium: 2rem;
$font-size-small: 1.25rem;

// _variables.scss

// Light theme colors
$primary-color-light: #000;
$background-light: #f0f0f0;
$text-color-light: #333;

// Dark theme colors
$primary-color-dark: #fff;
$background-dark: #1a1a1a;
$text-color-dark: #e0e0e0;

// Определение текущей темы
$primary-color: $primary-color-light;
$background-color: $background-light;
$text-color: $text-color-light;

.dark-mode {
  $primary-color: $primary-color-dark;
  $background-color: $background-dark;
  $text-color: $text-color-dark;
}
