@import './variables';
@import './mixins';

.hero-section {
  position: relative;
  padding: 5rem 0;
  background-color: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  text-align: center;
  overflow: hidden;
}

  h1, h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    // color: #ffffff;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
    // @include box-shadow(10px, $primary-color);
  }

  h2 {
    font-size: 2rem;
    // color: #ffffffcc;
    font-weight: 600;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 2;
  }

  p {
    font-size: 1.25rem;
    // color: #ffffffcc;
    line-height: 1.8;
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 2;
  }

  // .btn-primary {
  //   background-color: $primary-color;
  //   border: 2px solid $primary-color;
  //   color: $secondary-color;
  //   @include box-shadow(5px, $primary-color);  }


  .custom-btn {
    background-color: #ff7a85;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #ff4f6f;
      transform: translateY(-5px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }

/* Добавляем геометрические формы */
.hero-shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url('/path-to-your-shapes.svg') no-repeat center center / cover;
  opacity: 0.15;
}

/* Тёмный режим */
.hero-section.dark-mode {
  background-color: $background-dark;
  // background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);

  h1 {
    color: $secondary-color;
    // @include box-shadow(10px, $secondary-color);  
  }

  h2 {
    color: $secondary-color;
  }

  // .btn-primary {
  //   background-color: $secondary-color;
  //   border: 2px solid $secondary-color;
  //   color: $background-dark;
  //   @include box-shadow(5px, $secondary-color);  }

  //   .custom-btn {
  //     background-color: #333;
  //     color: #ffffff;

  //     &:hover {
  //       background-color: #555;
  //     }
  //   }
}


