.course-categories {
    padding: 3rem 0;
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

.course-categories h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #333;
    border-bottom: 3px solid #000;
    padding-bottom: 1rem;
    display: inline-block;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.category-card {
    background-color: #fff;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 0 #000;
}

.category-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.category-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.2rem;
    text-transform: uppercase;
}

.category-paragraph {
    font-size: 0.8rem;
    font-weight: lighter;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
}

.view-more-btn {
    background: #333;
    border: 3px solid #000;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 0 #000;
    margin-top: 1.5rem;
}

.view-more-btn:hover {
    background: #555;
    box-shadow: 5px 5px 0 #000;
}

.course-categories.dark-mode {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.course-categories.dark-mode h2 {
    color: #f0f0f0;
    border-bottom: 3px solid #fff;
    background-color: #626262;
}

.course-categories.dark-mode .category-card {
    background-color: #333;
    color: #f0f0f0;
    border-color: #fff;
}

.course-categories.dark-mode .category-card:hover {
    box-shadow: 8px 8px 0 #f0f0f0;
}

.course-categories.dark-mode .view-more-btn {
    background-color: #f0f0f0;
    color: #333;
    border-color: #fff;
}

.course-categories.dark-mode .view-more-btn:hover {
    background-color: #ccc;
    color: #000;
}
    