/* Header Styles */

/* Светлый режим */
.header-navbar {
    &.light {
      background-color: #f0f0f0;
      color: #000;
      border-bottom: 2px solid #000;
  
      .navbar-brand, 
      .nav-link {
        color: #000;
      }
  
      .btn, 
      .form-control {
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
  
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  
    &.dark {
      background-color: #1a1a1a;
      color: #e0e0e0;
      border-bottom: 2px solid #e0e0e0;
  
      .navbar-brand, 
      .nav-link {
        color: #e0e0e0;
      }
  
      .btn, 
      .form-control {
        background-color: #333;
        color: #e0e0e0;
        border: 2px solid #e0e0e0;
  
        &:hover {
          background-color: #e0e0e0;
          color: #1a1a1a;
        }
      }
    }
  }
  
  /* Navbar-toggler styles */
  .navbar-light {
    .navbar-toggler {
      border-color: rgba(0, 0, 0, 0.1); /* Цвет рамки для кнопки */
  
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }
  
    /* Тёмный режим */
    .dark-mode & {
      .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1); /* Белая рамка для кнопки в тёмном режиме */
  
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
      }
    }
  }
  