/* PopularCourses.css */
.popular-courses {
    padding: 3rem 0;
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .popular-courses h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #333;
    border-bottom: 3px solid #000;
    padding-bottom: 1rem;
    display: inline-block;
  }
  
  .courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .course-card {
    background-color: #fff;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    padding: 1rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
  }
  
  .course-card:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 0 #000;
  }
  
  .course-card h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }
  
  .course-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4;
  }
  
  .btn-learn-more {
    background: #333;
    border: 2px solid #000;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 0 #000;
  }
  
  .btn-learn-more:hover {
    background: #555;
    box-shadow: 5px 5px 0 #000;
  }
  
  /* Dark Mode */
.popular-courses.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .popular-courses.dark-mode h2 {
    border-bottom: 3px solid #fff;
    background-color: #9a9a9a;
    border-bottom: 3px solid #fff;
  }
  
  .popular-courses.dark-mode .course-card {
    background-color: #333;
    color: #f0f0f0;
    border-color: #fff;
  }
  
  .popular-courses.dark-mode .course-card:hover {
    box-shadow: 8px 8px 0 #f0f0f0;
  }
  
  .popular-courses.dark-mode .btn-learn-more {
    background-color: #f0f0f0;
    color: #333;
    border-color: #fff;
  }
  
  .popular-courses.dark-mode .btn-learn-more:hover {
    background-color: #ccc;
    color: #000;
  }
  